* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


button {
  background-color: coral;
  padding: 12px;
  width: 82px;
  border-radius: 4px;
}

.timer {
  display: flex;
  gap: 10px;
}

.field {
  margin-top: 8px;
background-color:aliceblue;
border: 1px solid black;
border-radius: 4px;
padding: 4px;
}